.section.section--boxes {
  background: url(https://ifunded.de/img/landing/benefits.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  &:before {
    opacity: 0.2;
    z-index: 1;
    content: "";
    background-color: black;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  .container {
    position: relative;
    z-index: 2;
  }
  .section__title {
    color: white;
  }
  .boxes__item {
    height: 402px;
  }
  .boxes__item-wrapper {
    margin: 0 1rem;
    height: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .4);
    -ms-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .4);
    -o-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .4);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .4);
    background-color: white;
    padding: 1rem;
    border-radius: 2px;
  }
  .boxes__item-icon {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: #fff;
    position: relative;
    margin: -3rem auto;
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    -ms-box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    -o-box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    text-align: center;
    img {
      height: 67px;
      vertical-align: middle;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  }
  .boxes__item-content {
    margin-top: 5rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
  }
  .boxes__item-content__title {
    border-top: 1px solid #d8dfe4;
    border-bottom: 1px solid #d8dfe4;
    width: 60%;
    margin: 3rem auto;
    padding: 1rem;
  }
  .boxes__item-content__text {
    font-size: 18px;
    padding: 0 1rem 2rem;
  }
}

.boxes {
  margin-top: 2rem;
  &:before, &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}
