.bonds-overview {
  width: 880px;
  margin: 10px auto;
  padding: 1px 0;
  box-shadow: 0 0 20px -2px #bbb;
}

.bonds-overview__title {
  font-size: 18px;
  text-align: center;
  margin: 20px;
  text-transform: uppercase;
}

.bonds-overview__table {
  border-top: 1px solid #dddddd;
  tr {
    &:nth-child(2n) {
      background-color: #fbfbfb;
    }
  }
  td {
    padding: 10px 25px;
    &:first-child {
      font-weight: 600;
      border-right: 1px solid #dddddd;
      width: 350px;
    }
    &:nth-child(2) {
      opacity: 0.6;
    }
    ul {
      list-style-type: initial;
      padding-left: 20px;
    }
    li {
      + li, ul {
        padding-top: 10px;
      }
    }
    p {
      + p {
        margin-top: 15px;
      }
    }
  }
}
