.bonds-steps {
  width: 950px;
  margin: 80px auto;
}

.bonds-steps__heading {
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  color: #646478;
  position: relative;
  margin-bottom: 90px;
  &:before {
    content: attr(data-step-no);
    position: absolute;
    z-index: 1;
    font-size: 100px;
    top: -50px;
    right: 0;
    left: 0;
    color: #f0f3f4;
  }
  &:after {
    $bar-width: 130px;
    content: "";
    position: absolute;
    bottom: -50px;
    background-color: #3abfbf;
    height: 1px;
    right: calc(50% - #{$bar-width / 2});
    left: calc(50% - #{$bar-width / 2});
  }
  span {
    position: relative;
    z-index: 2
  }
}

.bonds-steps__screenshot {
  width: 80%;
  margin: 0 auto 30px;
  img {
    width: 100%;
    box-shadow: 0 0 20px -4px #3abfbf;
  }
}

.bonds-steps__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  color: #696b72;
  b, strong {
    font-weight: 600;
  }
  > li {
    position: relative;
    flex-basis: calc(100% / 3);
    padding: 0 15px 0 50px;
    &:before {
      display: block;
      position: absolute;
      left: 10px;
      width: 30px;
      height: 30px;
      line-height: 30px;
      font-size: 17px;
      border-radius: 50%;
      background-color: #DDE1E4;
      color: white;
      text-align: center;
    }
    &:nth-child(1):before {
      content: "1";
    }
    &:nth-child(2):before {
      content: "2";
    }
    &:nth-child(3):before {
      content: "3";
    }
    &:nth-child(4):before {
      content: "4";
    }
    &:nth-child(5):before {
      content: "5";
    }
    &:nth-child(6):before {
      content: "6";
    }
    &:nth-child(7):before {
      content: "7";
    }
    &:nth-child(8):before {
      content: "8";
    }
    &:only-child {
      flex-basis: 80%;
      margin: 0 90px;
    }
    &:nth-child(1):nth-last-child(2) {
      margin-left: 90px;
      flex-grow: 1;
    }
    &:nth-child(2):nth-last-child(1) {
      margin-right: 90px;
      flex-grow: 1;
    }
    p {
      + p {
        margin-top: 10px;
      }
    }
    ul {
      list-style-type: none;
      margin-top: 5px;
      li {
        margin: 5px 0;
        &:before {
          content: "-";
          margin-right: 4px;
        }
      }
    }
  }
}
