.section__item-cell {
  display: table-cell;
  vertical-align: middle;
  float: none;
}

.team-person {
  text-align: center;
}

.team-person__image {
  width: 170px;
  height: 170px;
  position: relative;
  margin: 0 auto;
}

.team-person__call {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
  background: #a5978d;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
  -ms-box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
  -o-box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
  img {
    width: 35px;
  }
}

.team-person__image-crop {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
  -ms-box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
  -o-box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
  img {
    width: 100%;
  }
}

.team-person__title {
  color: white;
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  margin-top: 1rem;
}

.team-person__title-position {
  font-size: 0.9rem;
  font-weight: 400;
}

.section .article {
  font-weight: 200;
}

.section__item-cell {
  display: table-cell;
  vertical-align: middle;
  float: none;
}

.section .article__title {
  font-size: 2.3rem;
  line-height: 1.1;
  margin-bottom: 1.2rem;
  font-weight: 300;
}

.section .article__text {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 1rem 0;
}
