.pageFooter {
  background: white;
  padding: 0;
  color: white;
  font-size: 14px;
  display: block;
  .disclaimer {
    background: #f0f3f4;
    padding: 20px 0;
  }
  .container, .row {
    &:before, &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
  .disclaimer__message {
    font-size: 12px;
    color: #62687f;
    font-weight: 400;
    margin: 0 auto;
    text-align: center;
  }
  .menus {
    width: 100%;
    max-width: 770px;
    margin: 0 auto;
    padding: 50px 0;
    color: #8d99a5;
    h3 {
      color: #8d99a5;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 19px;
      margin: 0;
    }
    .menu {
      line-height: 26px;
      margin-top: 14px;
      margin-bottom: 14px;
      text-transform: uppercase;
      li {
        color: #62687f;
        text-transform: none;
      }
      a[href] {
        -webkit-transition: color .2s ease-out;
        -ms-transition: color .2s ease-out;
        -moz-transition: color .2s ease-out;
        -o-transition: color .2s ease-out;
        transition: color .2s ease-out;
      }
    }
  }
  .socialMenu {
    padding-left: 15px;
    padding-right: 15px;
    .sslProtected {
      background-image: url(https://ifunded.de/img/ssl-protected.png);
      background-position: center;
      height: 91px;
      background-repeat: no-repeat;
      background-size: 75%;
      margin-top: 40px;
    }
  }
  .socialContact {
    margin-top: 14px;
    margin-bottom: 14px;
    li {
      width: 21%;
      float: left;
      display: inline-block;
    }
  }
  .socialLink {
    margin: 0;
  }
  #bankingcheck .bcWidget {
    width: 115px !important;
    margin: 0 auto;
    img {
      width: 100%;
      height: auto;
      vertical-align: middle;
    }
  }
  .copyright {
    background: #62687f;
    .col-md-12 {
      width: 100%;
    }
  }
  .copyrightText {
    font-size: 14px;
    text-align: center;
    margin: 0;
    line-height: 52px;
    color: white;
  }
}
