.section--gallery {
  padding: 0;
  .container {
    background-color: white;
    margin-top: -100px;
    padding: 70px;
  }
  .section__title {
    position: relative;
    font-size: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: rgb(74, 128, 156);
    text-align: center;
    margin-bottom: 40px;
    &:before {
      content: "A";
      position: absolute;
      text-align: center;
      left: 50%;
      transform: translate(-50%, -72px);
      font-size: 120px;
      z-index: 1;
      color: #f0f3f4;
      width: 100%;
    }
    span {
      position: relative;
      z-index: 2;
    }
  }
  .section__subtitle {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
  }
}

.section__image {
  height: 400px;
  overflow: hidden;
  img {
    position: relative;
    top: -270px;
    width: 100%;
  }
}

.article {
  font-weight: 200;
  .article_-text {
    font-size: 1.2rem;
    font-weight: 300;
    margin: 1rem 0 3rem;
  }
}

.m-p-g {
  max-width: 100%;
  margin: 0 auto;
}

.m-p-g__thumbs {
  width: 100%;
  display: flex;
}

.m-p-g__thumbs-img {
  width: 25%;
  height: 100%;
}
