.page-header {
  z-index: 150;
  background: white;
  width: 100%;
  top: 0;
  -webkit-box-shadow: 0 1px 3px 0 rgba(37, 39, 49, 0.1);
  -ms-box-shadow: 0 1px 3px 0 rgba(37, 39, 49, 0.1);
  -moz-box-shadow: 0 1px 3px 0 rgba(37, 39, 49, 0.1);
  -o-box-shadow: 0 1px 3px 0 rgba(37, 39, 49, 0.1);
  box-shadow: 0 1px 3px 0 rgba(37, 39, 49, 0.1);
  -webkit-transform: translate3D(0, 0, 0);
  transform: translate3D(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: background-color 0.3s ease-in;
  -ms-transition: background-color 0.3s ease-in;
  -moz-transition: background-color 0.3s ease-in;
  -o-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
  .promotion_message {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
    font-size: 14px;
    line-height: 27px;
    color: #3abfbf !important;
    -webkit-transition: color 0.15s ease-in;
    -ms-transition: color 0.15s ease-in;
    -moz-transition: color 0.15s ease-in;
    -o-transition: color 0.15s ease-in;
    transition: color 0.15s ease-in;
    a {
      text-decoration: underline;
      color: #3abfbf;
      -webkit-transition: color 0.15s ease-in;
      -ms-transition: color 0.15s ease-in;
      -moz-transition: color 0.15s ease-in;
      -o-transition: color 0.15s ease-in;
      transition: color 0.15s ease-in;
    }
  }
  > .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1170px;
    height: 70px;
  }
}

.page-header__top {
  height: 27px;
  background: #3abfbf;
  background-color: white;
  color: #3abfbf !important;
  border-bottom: 1px solid #d8dfe4;
  -webkit-transition: background-color 0.3s ease-in;
  -ms-transition: background-color 0.3s ease-in;
  -moz-transition: background-color 0.3s ease-in;
  -o-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
}

.inline-lang-form {
  display: inline-block;
  color: #62697f;
  height: 100%;
  font-size: 15px;
  font-weight: 300;
  z-index: 2;
  position: absolute;
  .disabledLabel {
    line-height: 27px;
    color: #d8dfe4;
    cursor: default;
    display: inline;
    &:after {
      content: "|";
      display: inline-block;
      margin: 0 10px;
      color: #3abfbf;
    }
  }
  input[type="submit"] {
    color: #3abfbf;
    -webkit-transition: color 0s;
    -ms-transition: color 0s;
    -moz-transition: color 0s;
    -o-transition: color 0s;
    transition: color 0s;
    background: none;
    outline: none;
    border: none;
    text-decoration: none;
    padding-left: 0;
    padding-right: 0;
  }
}

.header-phone {
  height: 100%;
  display: inline-block;
  float: right;
  color: white;
  margin-right: 15px;
  font-size: 14px;
  margin: 0 20px 0 0;
  a {
    line-height: 27px;
    text-decoration: none;
    top: 0;
    font-size: 14px;
    svg {
      position: relative;
      vertical-align: middle;
      display: inline-block;
      top: -1.5px;
      margin: 0 5px 0 0;
      path {
        fill: #3abfbf !important;
        -webkit-transition: fill 0.15s ease-in;
        -ms-transition: fill 0.15s ease-in;
        -moz-transition: fill 0.15s ease-in;
        -o-transition: fill 0.15s ease-in;
        transition: fill 0.15s ease-in;
      }
      #SvgjsPath1008 {
        stroke: #3abfbf !important;
      }
    }
    span {
      color: #3abfbf;
      -webkit-transition: color 0.15s ease-in;
      -ms-transition: color 0.15s ease-in;
      -moz-transition: color 0.15s ease-in;
      -o-transition: color 0.15s ease-in;
      transition: color 0s;
      background: none;
      outline: none;
      border: none;
      text-decoration: none;
      top: 0;
      font-weight: 400;
      letter-spacing: -0.22px;
      line-height: 18px;
      position: relative;
    }
  }
}

.container {
  &:before, &:after {
    content: " ";
    display: table;
    clear: both;
  }
}

.page-header__logo {
  width: 13%;
  float: left;
  text-align: left;
  position: relative;
  height: 100%;
}

.page-header__navigation {
  display: block;
  height: 100%;
  width: 59%;
  float: left;
  list-style: none;
  color: #62697f;
  font-size: 16px;
  text-align: center;
  cursor: default;
  ul {
    margin: 0;
  }
}

.page-header__navigation-item {
  list-style: none;
  display: inline-block;
  padding: 0 1.2%;
  height: 100%;
  line-height: 70px;
  a {
    position: relative;
    text-decoration: none;
    color: #62697f;
    height: 100%;
    font-weight: 400;
    display: block;
    -webkit-transition: color 0.2s ease-in;
    -ms-transition: color 0.2s ease-in;
    -moz-transition: color 0.2s ease-in;
    -o-transition: color 0.2s ease-in;
    transition: color 0.2s ease-in;
    &:before {
      content: "";
      width: 100%;
      display: block;
      position: absolute;
      bottom: 0;
      height: 3px;
      background: transparent;
      -webkit-transition: background 0.2s ease-in;
      -ms-transition: background 0.2s ease-in;
      -moz-transition: background 0.2s ease-in;
      -o-transition: background 0.2s ease-in;
      transition: background 0.2s ease-in;
    }
  }
}

.page-header__account {
  position: relative;
  width: 28%;
  float: left;
  text-align: right;
  height: 100%;
}

.page-header__account-item {
  text-decoration: none;
  color: #62687f;
  height: 100%;
  display: inline-block;
  line-height: 70px;
  padding: 0 15px;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  &:first-child:after {
    content: "|";
    position: absolute;
    right: 0;
    color: #62687f;
  }
}
