.infoCols {
  text-align: center;
  margin: 60px auto;
  .col-md-4 {
    &:nth-child(1) .infoCols__colTitle:before {
      content: "1";
    }
    &:nth-child(3) .infoCols__colTitle:before {
      content: "2";
    }
    &:nth-child(5) .infoCols__colTitle:before {
      content: "3";
    }
  }
}

.infoCols__title {
  color: #62697f;
  line-height: 39px;
  margin: 0 auto 50px;
  font-size: 24px;
  font-weight: 400;
}

.infoCols__col {
  margin: 0 auto 40px;
}

.infoCols__iconCont {
  background: center no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  margin: 0 auto;
  text-align: center;
  position: relative;
  width: 165px;
  height: 170px;
  margin-bottom: 10px;
}

.infoCols__colTitle {
  color: #3abfbf;
  font-weight: 300;
  font-size: 24px;
  padding-bottom: 30px;
  padding-top: 50px;
  position: relative;
  &:before {
    color: #f0f3f4;
    font-size: 100px;
    line-height: 125px;
    font-weight: 400;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -24px;
    z-index: -1;
  }
}

.infoCols__betweenCols{
  width: 50px;
  height: 20px;
  background: url(https://ifunded.de/img/svg/arrow.svg) center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  margin: 80px -25px 0;
  float: left;
  position: relative;
}
