.intro {
  width: 950px;
  margin: -100px auto 0;
  padding: 70px;
  background: linear-gradient(0deg, #ffffff, #f5f6f8);
  z-index: 4;
  position: relative;
}

.intro__heading {
  position: relative;
  font-size: 20px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: rgb(74, 128, 156);
  text-align: center;
  margin-bottom: 40px;
  &:before {
    content: "A";
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -72px);
    font-size: 120px;
    z-index: 1;
    color: #f0f3f4;
    width: 100%;
  }
  span {
    position: relative;
    z-index: 2;
  }
}

.intro__subheading {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
}

.intro__text {
  text-align: justify;
}
