@import 'title-image';
@import 'intro';
@import 'bonds-overview';
@import 'how-to-steps';
@import 'bonds-steps';
@import 'gallery';
@import 'newsletter';
@import 'contact';
@import 'advantages';

.container, .container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  &:before, &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.container {
  width: 970px;
  position: relative;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.section {
  padding: 6rem 0;
  color: #62697f;
}

.section__title {
  font-size: 2.8rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 3rem;
}

.cta-button {
  display: block;
  height: 50px;
  width: 250px;
  margin: 40px auto;
  font-size: 13px;
  text-transform: uppercase;
  color: white;
  background-color: rgb(47, 141, 197);
  border: none;
  cursor: pointer;
}
