.newsletter, .content-wrapper {
  &:before, &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.newsletter {
  margin-top: 100px;
  height: 472px;
  background: #62697f;
}

.newsletter__image {
  background: url(https://ifunded.de/img/sales/newsletter-image.jpg) no-repeat center center;
  height: 100%;
}

.newsletter__content {
  .content-wrapper {
    color: white;
    max-width: 432px;
    margin: 0 auto;
    padding: 29px 0;
    text-align: center;
  }
  .input-wrapper {
    label {
      position: absolute;
      pointer-events: none;
      left: 20px;
      top: 10px;
      cursor: pointer;
      color: #d8dfe4;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
    }
  }
}

.newsletter__content-title {
  font-size: 30px;
  font-weight: 600;
  margin: 0;
}

.newsletter__content-subtitle {
  font-size: 18px;
  font-weight: 300;
  margin: 0;
}

.newsletter__content-text {
  font-size: 16px;
  margin: 20px auto 15px;
  font-weight: 400;
}

.form.form--material {
  font-size: 16px;
  .input-wrapper {
    position: relative;
    margin: 15px 0;
  }
  .bar {
    position: relative;
    display: block;
    &:before, &:after {
      content: '';
      height: 2px;
      width: 0;
      bottom: 0;
      position: absolute;
      background: #3abfbf;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
    }
    &:before {
      left: 50%;
    }
    &:after {
      right: 50%;
    }
  }
  input {
    &:focus {
      ~ .bar:before, ~ .bar:after {
        width: 50%;
      }
      ~ label {
        top: -15px;
        left: 15px;
        font-size: 14px;
        color: #3abfbf;
      }
    }
  }
  input {
    &[type=email], &[type="text"] {
      border-bottom: 2px solid #8d99a5 !important;
      padding: 10px 5px;
      width: 100%;
      -webkit-transition: border-color 0.2s ease-in;
      -ms-transition: border-color 0.2s ease-in;
      -moz-transition: border-color 0.2s ease-in;
      -o-transition: border-color 0.2s ease-in;
      transition: border-color 0.2s ease-in;
    }
    border: none;
    background: none;
    outline: none;
    box-shadow: none;
  }
  .cta {
    border: 2px solid #8d99a5;
    width: 200px;
    line-height: 55px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: white;
    border: 2px solid white;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: width 0.5s ease-in-out, background 0.15s ease-in, border-color 0.15s ease-in, color 0.15s ease-in;
    -ms-transition: width 0.5s ease-in-out, background 0.15s ease-in, border-color 0.15s ease-in, color 0.15s ease-in;
    -moz-transition: width 0.5s ease-in-out, background 0.15s ease-in, border-color 0.15s ease-in, color 0.15s ease-in;
    -o-transition: width 0.5s ease-in-out, background 0.15s ease-in, border-color 0.15s ease-in, color 0.15s ease-in;
    transition: width 0.5s ease-in-out, background 0.15s ease-in, border-color 0.15s ease-in, color 0.15s ease-in;
  }
}
