.headerBunner {
  max-height: 525px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.headerBunner__imgCont {
  background-color: #62697f;
  background-color: rgba(153,153,165,1);
}

.headerBunner__img {
  width: 100%;
  opacity: 1;
  position: relative;
  top: -335px;
  transform: scale(1.4);
}

.headerBunner__textCont {
  position: absolute;
  top: 50%;
  width: 100%;
  left: 0;
  padding: 0 15px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  color: white;
  top: 30%;
  text-shadow: none;
}

.headerBunner__title {
  font-weight: 200;
  font-size: 60px;
  line-height: 60px;
  margin: 0 auto 15px;
  max-width: 1100px;
  text-shadow: 0 0px 10px #aaa;
}
