@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900");
body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro'; }

*, *:after, *:before {
  box-sizing: border-box; }

a, b, em, h1, h2, h3, h4, h5, h6, p, span {
  -webkit-font-smoothing: antialiased; }

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  font: inherit;
  margin: 0; }
  input [type="submit"] {
    -webkit-appearance: button;
    cursor: pointer; }

a {
  color: inherit;
  text-decoration: none; }

ul {
  list-style: none;
  padding: 0; }

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left; }

.col-md-3, .col-sm-3 {
  width: 25%; }

.col-md-4 {
  width: calc(100% / 3); }

.col-md-6, .col-sm-6 {
  width: 50%; }

.col-md-12 {
  width: 100%; }

.section.section--closing {
  padding: 3rem 0;
  background-color: #3abfbf;
  color: white; }

.page-header {
  z-index: 150;
  background: white;
  width: 100%;
  top: 0;
  -webkit-box-shadow: 0 1px 3px 0 rgba(37, 39, 49, 0.1);
  -ms-box-shadow: 0 1px 3px 0 rgba(37, 39, 49, 0.1);
  -moz-box-shadow: 0 1px 3px 0 rgba(37, 39, 49, 0.1);
  -o-box-shadow: 0 1px 3px 0 rgba(37, 39, 49, 0.1);
  box-shadow: 0 1px 3px 0 rgba(37, 39, 49, 0.1);
  -webkit-transform: translate3D(0, 0, 0);
  transform: translate3D(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: background-color 0.3s ease-in;
  -ms-transition: background-color 0.3s ease-in;
  -moz-transition: background-color 0.3s ease-in;
  -o-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in; }
  .page-header .promotion_message {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
    font-size: 14px;
    line-height: 27px;
    color: #3abfbf !important;
    -webkit-transition: color 0.15s ease-in;
    -ms-transition: color 0.15s ease-in;
    -moz-transition: color 0.15s ease-in;
    -o-transition: color 0.15s ease-in;
    transition: color 0.15s ease-in; }
    .page-header .promotion_message a {
      text-decoration: underline;
      color: #3abfbf;
      -webkit-transition: color 0.15s ease-in;
      -ms-transition: color 0.15s ease-in;
      -moz-transition: color 0.15s ease-in;
      -o-transition: color 0.15s ease-in;
      transition: color 0.15s ease-in; }
  .page-header > .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1170px;
    height: 70px; }

.page-header__top {
  height: 27px;
  background: #3abfbf;
  background-color: white;
  color: #3abfbf !important;
  border-bottom: 1px solid #d8dfe4;
  -webkit-transition: background-color 0.3s ease-in;
  -ms-transition: background-color 0.3s ease-in;
  -moz-transition: background-color 0.3s ease-in;
  -o-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in; }

.inline-lang-form {
  display: inline-block;
  color: #62697f;
  height: 100%;
  font-size: 15px;
  font-weight: 300;
  z-index: 2;
  position: absolute; }
  .inline-lang-form .disabledLabel {
    line-height: 27px;
    color: #d8dfe4;
    cursor: default;
    display: inline; }
    .inline-lang-form .disabledLabel:after {
      content: "|";
      display: inline-block;
      margin: 0 10px;
      color: #3abfbf; }
  .inline-lang-form input[type="submit"] {
    color: #3abfbf;
    -webkit-transition: color 0s;
    -ms-transition: color 0s;
    -moz-transition: color 0s;
    -o-transition: color 0s;
    transition: color 0s;
    background: none;
    outline: none;
    border: none;
    text-decoration: none;
    padding-left: 0;
    padding-right: 0; }

.header-phone {
  height: 100%;
  display: inline-block;
  float: right;
  color: white;
  margin-right: 15px;
  font-size: 14px;
  margin: 0 20px 0 0; }
  .header-phone a {
    line-height: 27px;
    text-decoration: none;
    top: 0;
    font-size: 14px; }
    .header-phone a svg {
      position: relative;
      vertical-align: middle;
      display: inline-block;
      top: -1.5px;
      margin: 0 5px 0 0; }
      .header-phone a svg path {
        fill: #3abfbf !important;
        -webkit-transition: fill 0.15s ease-in;
        -ms-transition: fill 0.15s ease-in;
        -moz-transition: fill 0.15s ease-in;
        -o-transition: fill 0.15s ease-in;
        transition: fill 0.15s ease-in; }
      .header-phone a svg #SvgjsPath1008 {
        stroke: #3abfbf !important; }
    .header-phone a span {
      color: #3abfbf;
      -webkit-transition: color 0.15s ease-in;
      -ms-transition: color 0.15s ease-in;
      -moz-transition: color 0.15s ease-in;
      -o-transition: color 0.15s ease-in;
      transition: color 0s;
      background: none;
      outline: none;
      border: none;
      text-decoration: none;
      top: 0;
      font-weight: 400;
      letter-spacing: -0.22px;
      line-height: 18px;
      position: relative; }

.container:before, .container:after {
  content: " ";
  display: table;
  clear: both; }

.page-header__logo {
  width: 13%;
  float: left;
  text-align: left;
  position: relative;
  height: 100%; }

.page-header__navigation {
  display: block;
  height: 100%;
  width: 59%;
  float: left;
  list-style: none;
  color: #62697f;
  font-size: 16px;
  text-align: center;
  cursor: default; }
  .page-header__navigation ul {
    margin: 0; }

.page-header__navigation-item {
  list-style: none;
  display: inline-block;
  padding: 0 1.2%;
  height: 100%;
  line-height: 70px; }
  .page-header__navigation-item a {
    position: relative;
    text-decoration: none;
    color: #62697f;
    height: 100%;
    font-weight: 400;
    display: block;
    -webkit-transition: color 0.2s ease-in;
    -ms-transition: color 0.2s ease-in;
    -moz-transition: color 0.2s ease-in;
    -o-transition: color 0.2s ease-in;
    transition: color 0.2s ease-in; }
    .page-header__navigation-item a:before {
      content: "";
      width: 100%;
      display: block;
      position: absolute;
      bottom: 0;
      height: 3px;
      background: transparent;
      -webkit-transition: background 0.2s ease-in;
      -ms-transition: background 0.2s ease-in;
      -moz-transition: background 0.2s ease-in;
      -o-transition: background 0.2s ease-in;
      transition: background 0.2s ease-in; }

.page-header__account {
  position: relative;
  width: 28%;
  float: left;
  text-align: right;
  height: 100%; }

.page-header__account-item {
  text-decoration: none;
  color: #62687f;
  height: 100%;
  display: inline-block;
  line-height: 70px;
  padding: 0 15px;
  font-size: 16px;
  font-weight: 400;
  position: relative; }
  .page-header__account-item:first-child:after {
    content: "|";
    position: absolute;
    right: 0;
    color: #62687f; }

.headerBunner {
  max-height: 525px;
  overflow: hidden;
  position: relative;
  width: 100%; }

.headerBunner__imgCont {
  background-color: #62697f;
  background-color: #9999a5; }

.headerBunner__img {
  width: 100%;
  opacity: 1;
  position: relative;
  top: -335px;
  transform: scale(1.4); }

.headerBunner__textCont {
  position: absolute;
  top: 50%;
  width: 100%;
  left: 0;
  padding: 0 15px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  color: white;
  top: 30%;
  text-shadow: none; }

.headerBunner__title {
  font-weight: 200;
  font-size: 60px;
  line-height: 60px;
  margin: 0 auto 15px;
  max-width: 1100px;
  text-shadow: 0 0px 10px #aaa; }

.intro {
  width: 950px;
  margin: -100px auto 0;
  padding: 70px;
  background: linear-gradient(0deg, #ffffff, #f5f6f8);
  z-index: 4;
  position: relative; }

.intro__heading {
  position: relative;
  font-size: 20px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #4a809c;
  text-align: center;
  margin-bottom: 40px; }
  .intro__heading:before {
    content: "A";
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -72px);
    font-size: 120px;
    z-index: 1;
    color: #f0f3f4;
    width: 100%; }
  .intro__heading span {
    position: relative;
    z-index: 2; }

.intro__subheading {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px; }

.intro__text {
  text-align: justify; }

.bonds-overview {
  width: 880px;
  margin: 10px auto;
  padding: 1px 0;
  box-shadow: 0 0 20px -2px #bbb; }

.bonds-overview__title {
  font-size: 18px;
  text-align: center;
  margin: 20px;
  text-transform: uppercase; }

.bonds-overview__table {
  border-top: 1px solid #dddddd; }
  .bonds-overview__table tr:nth-child(2n) {
    background-color: #fbfbfb; }
  .bonds-overview__table td {
    padding: 10px 25px; }
    .bonds-overview__table td:first-child {
      font-weight: 600;
      border-right: 1px solid #dddddd;
      width: 350px; }
    .bonds-overview__table td:nth-child(2) {
      opacity: 0.6; }
    .bonds-overview__table td ul {
      list-style-type: initial;
      padding-left: 20px; }
    .bonds-overview__table td li + li, .bonds-overview__table td li ul {
      padding-top: 10px; }
    .bonds-overview__table td p + p {
      margin-top: 15px; }

.infoCols {
  text-align: center;
  margin: 60px auto; }
  .infoCols .col-md-4:nth-child(1) .infoCols__colTitle:before {
    content: "1"; }
  .infoCols .col-md-4:nth-child(3) .infoCols__colTitle:before {
    content: "2"; }
  .infoCols .col-md-4:nth-child(5) .infoCols__colTitle:before {
    content: "3"; }

.infoCols__title {
  color: #62697f;
  line-height: 39px;
  margin: 0 auto 50px;
  font-size: 24px;
  font-weight: 400; }

.infoCols__col {
  margin: 0 auto 40px; }

.infoCols__iconCont {
  background: center no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  margin: 0 auto;
  text-align: center;
  position: relative;
  width: 165px;
  height: 170px;
  margin-bottom: 10px; }

.infoCols__colTitle {
  color: #3abfbf;
  font-weight: 300;
  font-size: 24px;
  padding-bottom: 30px;
  padding-top: 50px;
  position: relative; }
  .infoCols__colTitle:before {
    color: #f0f3f4;
    font-size: 100px;
    line-height: 125px;
    font-weight: 400;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -24px;
    z-index: -1; }

.infoCols__betweenCols {
  width: 50px;
  height: 20px;
  background: url(https://ifunded.de/img/svg/arrow.svg) center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  margin: 80px -25px 0;
  float: left;
  position: relative; }

.bonds-steps {
  width: 950px;
  margin: 80px auto; }

.bonds-steps__heading {
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  color: #646478;
  position: relative;
  margin-bottom: 90px; }
  .bonds-steps__heading:before {
    content: attr(data-step-no);
    position: absolute;
    z-index: 1;
    font-size: 100px;
    top: -50px;
    right: 0;
    left: 0;
    color: #f0f3f4; }
  .bonds-steps__heading:after {
    content: "";
    position: absolute;
    bottom: -50px;
    background-color: #3abfbf;
    height: 1px;
    right: calc(50% - 65px);
    left: calc(50% - 65px); }
  .bonds-steps__heading span {
    position: relative;
    z-index: 2; }

.bonds-steps__screenshot {
  width: 80%;
  margin: 0 auto 30px; }
  .bonds-steps__screenshot img {
    width: 100%;
    box-shadow: 0 0 20px -4px #3abfbf; }

.bonds-steps__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  color: #696b72; }
  .bonds-steps__list b, .bonds-steps__list strong {
    font-weight: 600; }
  .bonds-steps__list > li {
    position: relative;
    flex-basis: calc(100% / 3);
    padding: 0 15px 0 50px; }
    .bonds-steps__list > li:before {
      display: block;
      position: absolute;
      left: 10px;
      width: 30px;
      height: 30px;
      line-height: 30px;
      font-size: 17px;
      border-radius: 50%;
      background-color: #DDE1E4;
      color: white;
      text-align: center; }
    .bonds-steps__list > li:nth-child(1):before {
      content: "1"; }
    .bonds-steps__list > li:nth-child(2):before {
      content: "2"; }
    .bonds-steps__list > li:nth-child(3):before {
      content: "3"; }
    .bonds-steps__list > li:nth-child(4):before {
      content: "4"; }
    .bonds-steps__list > li:nth-child(5):before {
      content: "5"; }
    .bonds-steps__list > li:nth-child(6):before {
      content: "6"; }
    .bonds-steps__list > li:nth-child(7):before {
      content: "7"; }
    .bonds-steps__list > li:nth-child(8):before {
      content: "8"; }
    .bonds-steps__list > li:only-child {
      flex-basis: 80%;
      margin: 0 90px; }
    .bonds-steps__list > li:nth-child(1):nth-last-child(2) {
      margin-left: 90px;
      flex-grow: 1; }
    .bonds-steps__list > li:nth-child(2):nth-last-child(1) {
      margin-right: 90px;
      flex-grow: 1; }
    .bonds-steps__list > li p + p {
      margin-top: 10px; }
    .bonds-steps__list > li ul {
      list-style-type: none;
      margin-top: 5px; }
      .bonds-steps__list > li ul li {
        margin: 5px 0; }
        .bonds-steps__list > li ul li:before {
          content: "-";
          margin-right: 4px; }

.section--gallery {
  padding: 0; }
  .section--gallery .container {
    background-color: white;
    margin-top: -100px;
    padding: 70px; }
  .section--gallery .section__title {
    position: relative;
    font-size: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #4a809c;
    text-align: center;
    margin-bottom: 40px; }
    .section--gallery .section__title:before {
      content: "A";
      position: absolute;
      text-align: center;
      left: 50%;
      transform: translate(-50%, -72px);
      font-size: 120px;
      z-index: 1;
      color: #f0f3f4;
      width: 100%; }
    .section--gallery .section__title span {
      position: relative;
      z-index: 2; }
  .section--gallery .section__subtitle {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px; }

.section__image {
  height: 400px;
  overflow: hidden; }
  .section__image img {
    position: relative;
    top: -270px;
    width: 100%; }

.article {
  font-weight: 200; }
  .article .article_-text {
    font-size: 1.2rem;
    font-weight: 300;
    margin: 1rem 0 3rem; }

.m-p-g {
  max-width: 100%;
  margin: 0 auto; }

.m-p-g__thumbs {
  width: 100%;
  display: flex; }

.m-p-g__thumbs-img {
  width: 25%;
  height: 100%; }

.newsletter:before, .newsletter:after, .content-wrapper:before, .content-wrapper:after {
  content: "";
  display: table; }

.newsletter:after, .content-wrapper:after {
  clear: both; }

.newsletter {
  margin-top: 100px;
  height: 472px;
  background: #62697f; }

.newsletter__image {
  background: url(https://ifunded.de/img/sales/newsletter-image.jpg) no-repeat center center;
  height: 100%; }

.newsletter__content .content-wrapper {
  color: white;
  max-width: 432px;
  margin: 0 auto;
  padding: 29px 0;
  text-align: center; }

.newsletter__content .input-wrapper label {
  position: absolute;
  pointer-events: none;
  left: 20px;
  top: 10px;
  cursor: pointer;
  color: #d8dfe4;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

.newsletter__content-title {
  font-size: 30px;
  font-weight: 600;
  margin: 0; }

.newsletter__content-subtitle {
  font-size: 18px;
  font-weight: 300;
  margin: 0; }

.newsletter__content-text {
  font-size: 16px;
  margin: 20px auto 15px;
  font-weight: 400; }

.form.form--material {
  font-size: 16px; }
  .form.form--material .input-wrapper {
    position: relative;
    margin: 15px 0; }
  .form.form--material .bar {
    position: relative;
    display: block; }
    .form.form--material .bar:before, .form.form--material .bar:after {
      content: '';
      height: 2px;
      width: 0;
      bottom: 0;
      position: absolute;
      background: #3abfbf;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all; }
    .form.form--material .bar:before {
      left: 50%; }
    .form.form--material .bar:after {
      right: 50%; }
  .form.form--material input:focus ~ .bar:before, .form.form--material input:focus ~ .bar:after {
    width: 50%; }
  .form.form--material input:focus ~ label {
    top: -15px;
    left: 15px;
    font-size: 14px;
    color: #3abfbf; }
  .form.form--material input {
    border: none;
    background: none;
    outline: none;
    box-shadow: none; }
    .form.form--material input[type=email], .form.form--material input[type="text"] {
      border-bottom: 2px solid #8d99a5 !important;
      padding: 10px 5px;
      width: 100%;
      -webkit-transition: border-color 0.2s ease-in;
      -ms-transition: border-color 0.2s ease-in;
      -moz-transition: border-color 0.2s ease-in;
      -o-transition: border-color 0.2s ease-in;
      transition: border-color 0.2s ease-in; }
  .form.form--material .cta {
    border: 2px solid #8d99a5;
    width: 200px;
    line-height: 55px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: white;
    border: 2px solid white;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: width 0.5s ease-in-out, background 0.15s ease-in, border-color 0.15s ease-in, color 0.15s ease-in;
    -ms-transition: width 0.5s ease-in-out, background 0.15s ease-in, border-color 0.15s ease-in, color 0.15s ease-in;
    -moz-transition: width 0.5s ease-in-out, background 0.15s ease-in, border-color 0.15s ease-in, color 0.15s ease-in;
    -o-transition: width 0.5s ease-in-out, background 0.15s ease-in, border-color 0.15s ease-in, color 0.15s ease-in;
    transition: width 0.5s ease-in-out, background 0.15s ease-in, border-color 0.15s ease-in, color 0.15s ease-in; }

.section__item-cell {
  display: table-cell;
  vertical-align: middle;
  float: none; }

.team-person {
  text-align: center; }

.team-person__image {
  width: 170px;
  height: 170px;
  position: relative;
  margin: 0 auto; }

.team-person__call {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
  background: #a5978d;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2); }
  .team-person__call img {
    width: 35px; }

.team-person__image-crop {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2); }
  .team-person__image-crop img {
    width: 100%; }

.team-person__title {
  color: white;
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  margin-top: 1rem; }

.team-person__title-position {
  font-size: 0.9rem;
  font-weight: 400; }

.section .article {
  font-weight: 200; }

.section__item-cell {
  display: table-cell;
  vertical-align: middle;
  float: none; }

.section .article__title {
  font-size: 2.3rem;
  line-height: 1.1;
  margin-bottom: 1.2rem;
  font-weight: 300; }

.section .article__text {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 1rem 0; }

.section.section--boxes {
  background: url(https://ifunded.de/img/landing/benefits.jpg) no-repeat center;
  background-size: cover;
  position: relative; }
  .section.section--boxes:before {
    opacity: 0.2;
    z-index: 1;
    content: "";
    background-color: black;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%; }
  .section.section--boxes .container {
    position: relative;
    z-index: 2; }
  .section.section--boxes .section__title {
    color: white; }
  .section.section--boxes .boxes__item {
    height: 402px; }
  .section.section--boxes .boxes__item-wrapper {
    margin: 0 1rem;
    height: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    background-color: white;
    padding: 1rem;
    border-radius: 2px; }
  .section.section--boxes .boxes__item-icon {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: #fff;
    position: relative;
    margin: -3rem auto;
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    text-align: center; }
    .section.section--boxes .boxes__item-icon img {
      height: 67px;
      vertical-align: middle;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto; }
  .section.section--boxes .boxes__item-content {
    margin-top: 5rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300; }
  .section.section--boxes .boxes__item-content__title {
    border-top: 1px solid #d8dfe4;
    border-bottom: 1px solid #d8dfe4;
    width: 60%;
    margin: 3rem auto;
    padding: 1rem; }
  .section.section--boxes .boxes__item-content__text {
    font-size: 18px;
    padding: 0 1rem 2rem; }

.boxes {
  margin-top: 2rem; }
  .boxes:before, .boxes:after {
    content: "";
    display: table; }
  .boxes:after {
    clear: both; }

.container, .container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container:before, .container:after, .container-fluid:before, .container-fluid:after {
    content: "";
    display: table; }
  .container:after, .container-fluid:after {
    clear: both; }

.container {
  width: 970px;
  position: relative; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.section {
  padding: 6rem 0;
  color: #62697f; }

.section__title {
  font-size: 2.8rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 3rem; }

.cta-button {
  display: block;
  height: 50px;
  width: 250px;
  margin: 40px auto;
  font-size: 13px;
  text-transform: uppercase;
  color: white;
  background-color: #2f8dc5;
  border: none;
  cursor: pointer; }

.pageFooter {
  background: white;
  padding: 0;
  color: white;
  font-size: 14px;
  display: block; }
  .pageFooter .disclaimer {
    background: #f0f3f4;
    padding: 20px 0; }
  .pageFooter .container:before, .pageFooter .container:after, .pageFooter .row:before, .pageFooter .row:after {
    content: "";
    display: table;
    clear: both; }
  .pageFooter .disclaimer__message {
    font-size: 12px;
    color: #62687f;
    font-weight: 400;
    margin: 0 auto;
    text-align: center; }
  .pageFooter .menus {
    width: 100%;
    max-width: 770px;
    margin: 0 auto;
    padding: 50px 0;
    color: #8d99a5; }
    .pageFooter .menus h3 {
      color: #8d99a5;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 19px;
      margin: 0; }
    .pageFooter .menus .menu {
      line-height: 26px;
      margin-top: 14px;
      margin-bottom: 14px;
      text-transform: uppercase; }
      .pageFooter .menus .menu li {
        color: #62687f;
        text-transform: none; }
      .pageFooter .menus .menu a[href] {
        -webkit-transition: color .2s ease-out;
        -ms-transition: color .2s ease-out;
        -moz-transition: color .2s ease-out;
        -o-transition: color .2s ease-out;
        transition: color .2s ease-out; }
  .pageFooter .socialMenu {
    padding-left: 15px;
    padding-right: 15px; }
    .pageFooter .socialMenu .sslProtected {
      background-image: url(https://ifunded.de/img/ssl-protected.png);
      background-position: center;
      height: 91px;
      background-repeat: no-repeat;
      background-size: 75%;
      margin-top: 40px; }
  .pageFooter .socialContact {
    margin-top: 14px;
    margin-bottom: 14px; }
    .pageFooter .socialContact li {
      width: 21%;
      float: left;
      display: inline-block; }
  .pageFooter .socialLink {
    margin: 0; }
  .pageFooter #bankingcheck .bcWidget {
    width: 115px !important;
    margin: 0 auto; }
    .pageFooter #bankingcheck .bcWidget img {
      width: 100%;
      height: auto;
      vertical-align: middle; }
  .pageFooter .copyright {
    background: #62687f; }
    .pageFooter .copyright .col-md-12 {
      width: 100%; }
  .pageFooter .copyrightText {
    font-size: 14px;
    text-align: center;
    margin: 0;
    line-height: 52px;
    color: white; }
